# fly.toml app configuration file generated for screentime-analyzer on 2026-01-18T13:38:11Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'screentime-analyzer'
primary_region = 'sjc'

[build]

[env]
  DATA_DIR = "/data"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = "screentime_data"
  destination = "/data"

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
